In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.read_csv('../../data/weather.csv')

In [3]:
weather

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,RA SN,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [4]:
# Check for missing values
weather.isin(['M', '-', '  T']).sum().sort_values(ascending=False)

Water1         2944
SnowFall       1484
Sunset         1472
Depth          1472
Depart         1472
Sunrise        1472
PrecipTotal     320
Tavg             11
Heat             11
Cool             11
SeaLevel          9
StnPressure       4
WetBulb           4
AvgSpeed          3
CodeSum           0
Date              0
DewPoint          0
Tmin              0
Tmax              0
ResultSpeed       0
ResultDir         0
Station           0
dtype: int64

Weather has two observations per day - one per weather station. Explore missing values to see if they are only missing from one of the stations.

In [5]:
weather.groupby('Station')['Water1'].value_counts()

Station  Water1
1        M         1472
2        M         1472
Name: Water1, dtype: int64

In [6]:
weather.groupby('Station')['Depth'].value_counts()

Station  Depth
1        0        1472
2        M        1472
Name: Depth, dtype: int64

In [7]:
weather.groupby('Station')['SnowFall'].value_counts()

Station  SnowFall
1        0.0         1459
           T           12
         0.1            1
2        M           1472
Name: SnowFall, dtype: int64

Drop `Water1` as all values are missing. Drop `Depth` and `SnowFall` as well because even the recorded values are mostly 0, doesn't provide us meaningful information

In [8]:
weather.drop(columns=['Water1', 'Depth', 'SnowFall'], inplace=True)

For remaining columns with missing values, can impute based on values from other station or via interpolation

In [9]:
# Impute missing sunrise & sunset values with observations from other station
def impute_sun(row):
    if row['Sunrise'] == '-':
        row['Sunrise'] = weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'Sunrise'
        ].values[0]
        row['Sunset'] = weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'Sunset'
        ].values[0]
    return row

In [10]:
weather = weather.apply(impute_sun, axis=1)

In [11]:
weather.loc[weather['Tavg'].isin(['M'])]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,M,M,42,50,M,M,0444,1852,,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,M,M,68,71,M,M,0424,1929,TS RA,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,M,M,41,47,M,M,0548,1734,,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,M,M,70,74,M,M,0435,1921,TS TSRA BR,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,M,M,51,61,M,M,0506,1843,,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,M,M,39,45,M,M,0447,1850,,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,M,M,48,54,M,M,0541,1746,,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,M,M,48,54,M,M,0546,1737,RA BR,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,M,M,44,50,M,M,0554,1725,RA DZ BR,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,0447,1850,RA,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,M,M,68,71,M,M,0511,1837,,T,29.41,30.04,1.3,15,5.8

In [12]:
# Impute Tavg with mean of Tmax & Tmin
def impute_tavg(row):
    if row['Tavg'] == 'M':
        row['Tavg'] = round((row['Tmax'] + row['Tmin']) / 2)
    return row

In [13]:
weather = weather.apply(impute_tavg, axis=1)

In [14]:
weather.groupby('Station')['Depart'].value_counts()

Station  Depart
1         2          93
         -1          84
         -2          80
          5          77
          1          76
          7          76
          3          75
          0          74
         -3          72
          4          71
          6          67
          8          59
         -5          57
         -4          56
         -6          50
          9          47
         10          46
         -8          43
         -7          30
         11          28
         12          28
         -9          25
         13          23
         -10         22
         14          22
         15          15
         16          12
         -11         10
         -12          8
         17           7
         -14          6
         18           6
         -13          5
         19           4
         20           4
         -15          3
         -16          3
         22           3
         -17          2
         21           2
         23           1
2        M         1472
Name: Depart, dtype: int64

In [15]:
# Impute station 2 with departure from station 1's 30 year normal
def impute_depart(row):
    if row['Station'] == 2:
        # Difference between avg temp of two stations
        diff = int(row['Tavg']) - int(weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'Tavg'
        ])
        # Impute with station 1's readings plus difference
        row['Depart'] = int(weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'Depart'
        ]) + diff
    return row

In [16]:
weather = weather.apply(impute_depart, axis=1)

In [17]:
weather.loc[weather['Heat'].isin(['M'])]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,64,10,42,50,M,M,0444,1852,,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,66,-7,68,71,M,M,0424,1929,TS RA,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,54,-4,41,47,M,M,0548,1734,,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,86,12,70,74,M,M,0435,1921,TS TSRA BR,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,78,7,51,61,M,M,0506,1843,,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,56,2,39,45,M,M,0447,1850,,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,72,11,48,54,M,M,0541,1746,,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,68,9,48,54,M,M,0546,1737,RA BR,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,62,6,44,50,M,M,0554,1725,RA DZ BR,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,64,10,43,47,M,M,0447,1850,RA,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,68,-2,68,71,M,M,0511,1837,,T,29.41,30.04,1.3,15,5.8

In [18]:
# Impute Heat & Cool with departure from base 65 degree temp
def impute_heat_cool(row):
    if row['Heat'] == 'M' or row['Cool'] == 'M':
        diff = 65 - row['Tavg']
        if diff < 0: 
            row['Heat'] = 0
            row['Cool'] = diff
        elif diff > 0:
            row['Heat'] = diff
            row['Cool'] = 0
        else:
            row['Heat'] = row['Cool'] = 0
    return row

In [19]:
weather = weather.apply(impute_heat_cool, axis=1)

In [20]:
weather.loc[weather['StnPressure'].isin(['M'])]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86,68,77,9,53,62,0,12,0416,1927,,0.00,M,M,7.0,5,M
848,1,2009-06-26,86,69,78,7,60,M,0,13,0418,1931,,0.00,M,29.85,6.4,4,8.2
2410,1,2013-08-10,81,64,73,0,57,M,0,8,0454,1900,,0.00,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81,68,75,2,55,63,0,10,0454,1900,,0.00,M,30.07,6.0,6,7.4

In [21]:
# Impute StnPressure by interpolating from previous & next day values
for index, row in weather.loc[weather['StnPressure'].isin(['M'])].iterrows():
    inter = (float(weather.iloc[(index - 2)]['StnPressure']) + \
             float(weather.iloc[(index + 2)]['StnPressure'])) / 2
    weather.at[index, 'StnPressure'] = round(inter, 2)

In [22]:
weather.loc[weather['SeaLevel'].isin(['M'])]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86,68,77,9,53,62,0,12,0416,1927,,0.00,29.42,M,7.0,5,M
832,1,2009-06-18,80,61,71,1,63,67,0,6,0416,1929,RA BR,0.12,29.08,M,6.7,16,7.9
994,1,2009-09-07,77,59,68,1,59,62,0,3,0523,1817,BR,0.00,29.39,M,5.8,3,4.0
1732,1,2011-09-08,75,57,66,0,53,59,0,1,0524,1815,RA,T,29.34,M,13.0,2,13.4
1745,2,2011-09-14,60,48,54,-10,45,51,11,0,0530,1805,RA BR HZ FU,T,29.47,M,6.0,32,M
1756,1,2011-09-20,74,49,62,0,54,58,3,0,0537,1753,MIFG BCFG BR,0.00,29.26,M,7.3,18,7.3
2067,2,2012-08-22,84,72,78,7,51,61,0,-13,0506,1843,,0.00,29.39,M,4.7,19,M
2090,1,2012-09-03,88,71,80,12,70,73,0,15,0519,1824,BR,0.00,29.17,M,4.6,6,4.4
2743,2,2014-07-23,76,64,70,-4,56,61,0,5,0436,1920,,0.00,29.47,M,16.4,2,16.7

In [23]:
# Impute StnPressure by interpolating from previous & next day values
for index, row in weather.loc[weather['SeaLevel'].isin(['M'])].iterrows():
    inter = (float(weather.iloc[(index - 2)]['SeaLevel']) + \
             float(weather.iloc[(index + 2)]['SeaLevel'])) / 2
    weather.at[index, 'SeaLevel'] = round(inter, 2)

In [24]:
# Change trace values for PrecipTotal to 0.01
weather['PrecipTotal'] = weather['PrecipTotal'].map(lambda x: 0.01 if x == '  T' else x)

In [25]:
# Impute remaining missing values with observations from other station
def impute_remain(row):
    if row['WetBulb'] == 'M':
        if row['Station'] == 1:
            row['WetBulb'] = weather.loc[
                (weather['Date'] == row['Date']) & 
                (weather['Station'] == 2), 
                'WetBulb'
            ].values[0]
        else:
            row['WetBulb'] = weather.loc[
                (weather['Date'] == row['Date']) & 
                (weather['Station'] == 1), 
                'WetBulb'
            ].values[0]
        
    if row['AvgSpeed'] == 'M':
        row['AvgSpeed'] = weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'AvgSpeed'
        ].values[0]
        
    if row['PrecipTotal'] == 'M':
        row['PrecipTotal'] = weather.loc[
            (weather['Date'] == row['Date']) & 
            (weather['Station'] == 1), 
            'PrecipTotal'
        ].values[0]
    
    return row

In [26]:
weather = weather.apply(impute_remain, axis=1)

`CodeSum` column has some inconsistencies - some of the codes are joined together. Will need to separate them and remove duplicate codes within the same observation.

In [27]:
weather['CodeSum'].unique()

array([' ', 'BR', 'BR HZ', 'HZ', 'RA', 'RA BR', 'TSRA RA BR', 'RA VCTS',
       'TSRA RA', 'RA HZ', 'TSRA RA BR HZ', 'TSRA BR HZ', 'RA BR HZ VCTS',
       'TSRA RA HZ', 'TSRA BR HZ VCTS', 'TSRA', 'TSRA BR HZ FU',
       'TSRA RA HZ FU', 'BR HZ FU', 'TSRA RA VCTS', 'HZ VCTS', 'TSRA HZ',
       'VCTS', 'RA BR VCTS', 'TSRA RA BR VCTS', 'TS TSRA RA BR HZ VCTS',
       'DZ BR', 'TS TSRA RA BR HZ', 'TS TSRA BR HZ', 'RA BR HZ',
       'TSRA RA DZ BR HZ', 'TS TSRA RA BR', 'TS RA BR', 'TS TSRA RA',
       'TS TSRA RA BR VCTS', 'TS TSRA BR', 'TS RA', 'RA BCFG BR',
       'TSRA BR', 'RA DZ FG+ BCFG BR', 'RA FG+ MIFG BR', 'RA DZ',
       'RA DZ BR', 'TS TSRA RA HZ', 'TSRA RA FG+ FG BR',
       'TSRA DZ FG+ FG BR HZ', 'TS BR', 'RA BR SQ', 'TS TSRA',
       'TSRA RA BR HZ VCTS', 'BR VCTS', 'TS', 'FG+ BR HZ', 'RA SN',
       'TSRA RA DZ BR', 'DZ BR HZ', 'RA BR FU', 'TS BR HZ', 'DZ',
       'FG+ BR', 'FG+ FG BR', 'FG+ MIFG BR', 'TSRA RA FG BR',
       'TSRA FG+ BR', 'RA DZ BR HZ', 'RA DZ SN', 'FG+ FG BR HZ',
       'TS TSRA RA FG BR', 'BR HZ VCFG', 'TS RA FG+ FG BR',
       'TSRA RA FG+ BR', 'RA DZ FG+ FG BR', 'TS TSRA RA VCTS', 'FU',
       'TS TSRA VCFG', 'TS TSRA HZ', 'TS TSRA GR RA BR', 'RA FG BR',
       'HZ FU', 'RA BR HZ FU', 'MIFG BCFG BR', 'FG+ BCFG BR',
       'TSRA RA FG+ FG BR HZ', 'FG+', 'TSRA BR SQ', 'TSRA DZ BR HZ',
       'RA BR HZ VCFG', 'RA FG+ BR', 'FG BR HZ', 'TS HZ',
       'TS TSRA RA FG BR HZ', 'RA DZ FG+ BR', 'RA DZ FG+ BR HZ',
       'TSRA FG+ BR HZ', 'RA BR VCFG', 'TS RA BR HZ', 'BCFG BR',
       'RA SN BR'], dtype=object)

In [28]:
# Create set of codes for each observation
weather['CodeSum'] = weather['CodeSum'].map(lambda x: set(x.split()))

In [29]:
# Create function to split conjoined codes into two separate codes
def code_split(row):
    new_set = set()
    for code in row:
        if len(code) > 3:
            new_set.add(code[:2])
            new_set.add(code[2:])
        else:
            new_set.add(code)
    return new_set

In [30]:
weather['CodeSum'] = weather['CodeSum'].map(code_split)

Need to fix data types of some columns

In [31]:
# Convert object columns to numeric values
fix_cols = weather.columns[weather.dtypes.eq('object')].drop(['Date', 'CodeSum'])
weather[fix_cols] = weather[fix_cols].apply(pd.to_numeric)

In [32]:
# Convert Date column to datetime format
weather['Date'] = pd.to_datetime(weather['Date'], format="%Y-%m-%d")

In [33]:
weather.dtypes # All good

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                    int64
Depart                  int64
DewPoint                int64
WetBulb                 int64
Heat                    int64
Cool                    int64
Sunrise                 int64
Sunset                  int64
CodeSum                object
PrecipTotal           float64
StnPressure           float64
SeaLevel              float64
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
dtype: object

Data still split into station 1 & 2 for same dates. Combine into 1 reading per date, averaging values where possible.

In [34]:
# Replace values in station 1 observations with combined values
for index, row in weather.iterrows():
    if index % 2 == 0:
        # Take union of sets for CodeSum
        codes = weather.iloc[index]['CodeSum'].union(weather.iloc[index + 1]['CodeSum'])
        weather.at[index, 'CodeSum'] = codes
        
        # Take average of numerical features of both stations
        for col in weather.columns.drop(['Station', 'Date', 'CodeSum']):
            avg = round((weather.iloc[index][col] + weather.iloc[index + 1][col]) / 2, 2)
            weather.at[index, col] = avg

# Drop observations for station 2
weather.drop(weather.loc[weather['Station'] == 2].index, inplace=True)

# Drop station column & reset index
weather.drop(columns='Station', inplace=True)
weather.reset_index(drop=True, inplace=True)

In [36]:
# Lowercase columns
weather.columns = [col.lower() for col in weather.columns]

In [37]:
# Export cleaned weather dataset
weather.to_csv('../../data/weather_clean.csv', index=False)